<%= form_for(message, class:'form-inline' , remote: true) do |form| %>
  <div class="flex justify-center">
    <%= form.text_field :content , class:'container rounded-l-lg' %>
    <div>
      <%= form.hidden_field :room_id, value: room.id%>
      <div class="input-groud-append">  
        <%= form.submit '傳送' ,class:'btn-chat' , id: 'chat-btn'%>
      </div>
    </div>  
  </div>

<% end %>
