<%= form_for(message, class:'form-inline' , remote: true , data:{action:"submit->chatsubmit#submit"}) do |form| %>
  <div class="relative w-full">
    <%= form.text_field :content , class:'w-full rounded-md shadow-2xl',data:{action:"input->chatsubmit#input" ,chatsubmit_target: 'input'}%>
    
    <%= form.hidden_field :room_id, value: room.id%>
    
      <%= button_tag '', type: 'submit', disabled: true ,class:"absolute text-Azure-blue right-4 top-[9px]", id: 'send', data:{chatsubmit_target: 'submit' } do%>
        <i class="fa-solid fa-paper-plane"></i>
      <% end %>
   
     
  </div>
<% end %>
