<%= form_for(message, class:'form-inline' , remote: true , data:{action:"submit->chatsubmit#submit"}) do |form| %>
  <div class="relative flex items-center w-full">
    <%= form.text_field :content , class:'w-8/12 rounded-md shadow-2xl mx-auto mx-auto',data:{action:"input->chatsubmit#input" ,chatsubmit_target: 'input'}%>
    <div>
      <%= form.hidden_field :room_id, value: room.id%>
      <div class=" input-groud-append">  
        <%= button_tag '', type: 'submit', disabled: true ,class:"absolute text-Azure-blue     right-32 md:right-48 lg:right-56 xl:right-64 bottom-2", id: 'send', data:{ chatsubmit_target: 'submit' } do%>
          <i class="fa-solid fa-paper-plane"></i>
        <% end %>
      </div>
    </div>  
  </div>
<% end %>
