<div class="message mb-2 <%= 'me' if message.user == current_user %>">
  <div class="content">
    <% if message.user.username.present? %>
      <%= message.user.username %>
    <% else %>
      <%= message.user.email %>
    <% end %>    
  </div>
  <div class="author">
    <%= message.content %>
  </div>
</div>