<div class="message mb-3 me">
  <div class="content-container">
    <div class="content ">
      <%= message.user.username %>
    </div>
    <div class="author">
      <%= message.content %>
    </div>
  </div>
</div>