<div class="mb-3 message me">
  <div class="container ">
    <div class="content ">
      <%= message.user.id %>
    </div>
    <div class="author">
      <%= message.content %>
    </div>
  </div>
</div>