<div class="mb-3 message">
  <div>
    <% if message.user.username.present? %>
      <%= message.user.username %>
    <% else %>
      <%= message.user.email %>
    <% end %>   
  </div>
  <div class="author">
    <%= message.content %>
  </div>
</div>

