<section class="container w-screen py-56">
  <section>
    <h1 class="pt-20 text-6xl text-center lg:text-9xl ">Disboard</h1>
    <section class="py-20 text-center">
      <% if user_signed_in? %>
      <%= link_to "前往看板", boards_path, class:" btn-logn mx-4" %>
      
      <% else %>
        <%= link_to '登入' , new_user_session_path  , class:" btn-logn mx-4", data: {turbo_frame: "sigin" , action: "click->modal#open"} %>
        <%= link_to '註冊' , new_user_registration_path , class:" btn-logn mx-4", data: {turbo_frame: "sigup" , action: "click->modal#open"}%>
      <% end %>
    </section>
  </section>
 
  <section class="container pt-40 ">
    <h2 class="py-5 text-3xl text-black">功能介紹</h2>
    <div class="grid grid-cols-1 p-10 mt-10 bg-white rounded-lg shadow-2xl lg:grid-cols-2" data-controller="aos" data-aos="fade-left" data-aos-duration="1000">
      <div class="w-1/2 mx-auto">
        <img src="https://picsum.photos/500/400?random=1" alt="功能介紹" class="w-full rounded-full">
      </div>
      <div class="flex flex-col justify-center text-gray-600">
        <h3 class="py-5 text-3xl text-black">群組功能</h3>
        <p>透過的群組功能，您可以輕鬆組織和管理專案成員，促進即時協作、無縫溝通，實現高效專案管理，共同攜手達成優秀成果。</p>
      </div>
    </div>
    <div class="flex flex-col-reverse grid-cols-2 mt-10 lg:grid">
      <div class="flex flex-col justify-center text-gray-600">
        <h3 class="py-5 ml-auto text-3xl text-black">即時聊天</h3>
        <p>聊天室功能提供即時交流與討論，方便團隊成員快速分享想法、共享資源，透過檔案分享，輕鬆促進團隊合作與創意共享，提升專案溝通效率，共同打造卓越成果。</p>
      </div>
      <div class="w-1/2 mx-auto">
        <img src="https://picsum.photos/500/400?random=2" alt="功能介紹" class="w-full rounded-full">
      </div>
    </div>
    <div class="hidden grid-cols-1 p-10 mt-10 bg-white rounded-lg shadow-2xl lg:grid-cols-2" data-controller="aos" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="150">
      <div class="w-1/2 mx-auto ">
        <img src="https://picsum.photos/500/400?random=3" alt="功能介紹" class="w-full rounded-full">
      </div>
      <div class="flex flex-col justify-center text-gray-600 ">
        <h3 class="py-5 text-3xl text-black">付費功能</h3>
        <p>專案管理系統是一個有效的工具，能夠幫助項目團隊協調和管理各項工作。它可以提供項目日程表、任務分配、時間追蹤、進度報告、資源分配等功能，讓團隊成員可以更好地了解項目進展情況，便於協調工作，提高效率。</p>
      </div>
    </div>
    <div class="grid grid-cols-1 p-10 mt-10 bg-white rounded-lg shadow-2xl lg:grid-cols-2" data-controller="aos" data-aos="fade-left" data-aos-duration="1000">
      <div class="w-1/2 mx-auto">
        <img src="https://picsum.photos/500/400?random=1" alt="功能介紹" class="w-full rounded-full">
      </div>
      <div class="flex flex-col justify-center text-gray-600">
        <h3 class="py-5 text-3xl text-black">日曆功能</h3>
        <p>完善的日曆功能助您輕鬆統整專案時間表、任務和重要事件，方便團隊成員共享和查看，提醒與追蹤待辦事項，確保專案進度掌握無遺，讓您有效管理時間、協調安排，實現順利的專案執行與時程掌控。</p>
      </div>
    </div>
  </section>
</section>