<footer class="p-10 text-white bg-gray-600 rounded footer footer-center text-base-content">
  <div class="grid grid-flow-col gap-4">
    <a class="link link-hover">About us</a> 
    <a class="link link-hover">Contact</a> 
    <a class="link link-hover">Jobs</a> 
    <a class="link link-hover">Press kit</a>
  </div> 
  <div>
    <div class="grid grid-flow-col gap-4">
      <a class="text-2xl "><i class="fa-brands fa-github"></i></a> 
      <a class="text-2xl "><i class="fa-brands fa-facebook"></i></a> 
    </div>
  </div> 
  <div>
    <p>Copyright © 2023 - All right reserved by ACME Industries Ltd</p>
  </div>
</footer>