<nav class="fixed top-0 z-10 flex items-center justify-between w-full bg-white rounded-b-lg shadow-xl opacity-90 ">
  <div class="px-16 py-2 lg:px-32 lg:py-4">
  <%# logo未定 %>
    <%# <img src="#" alt="logo"> %>
    <h1 class="text-l lg:text-xl">LOGO</h1>
  </div>
  <ul class="px-16 py-2 lg:px-32 lg:py-4">
    <li><%= link_to '付費升級' , '#' ,class:"text-gray-600 text-l lg:text-xl"%></li>
  </ul>
</nav>