    <nav class="fixed top-0 z-10 flex items-center justify-between w-full bg-white rounded-b-lg shadow-xl opacity-90 ">
      <div class="px-32 py-4">
        <%= link_to 'LOGO' , cards_path , class:"text-gray-600  text-xl"%>
      </div>
      <ul class="px-32 py-4">
        <li><%= link_to '付費升級' , '#' ,class:"text-gray-600 text-lg"%></li>
      </ul>

    </nav>