<div class="fixed top-0 left-0 flex flex-col w-20 h-screen m-0 text-white bg-gray-600 shadow-lg">
  <button class="mt-10 mb-5 sidebar-icon"><i class="fa-solid fa-user-tie"></i></button>
  <button class="sidebar-icon"><i class="fa-solid fa-user-tie"></i></button>
  <button class="sidebar-icon"><i class="fa-solid fa-user-tie"></i></button>
  <button class="sidebar-icon"><i class="fa-solid fa-user-tie"></i></button>
  <button class="sidebar-icon"><i class="fa-solid fa-user-tie"></i></button>
  <button class="sidebar-icon"><i class="fa-solid fa-user-tie"></i></button>
  <button class="sidebar-icon"><i class="fa-solid fa-plus"></i></button>

</div>