<div class="container flex w-screen ">
  <%= render partial: "containers/container", collection: @containers, locals: { board: @board } %>
  <%= link_to new_board_container_path(@board.id), id:'keytwo', class: 'newcontainer group' do %>
    <i class="fa-solid fa-plus"></i>
    <span class="absolute bottom-[-80%] right-[25%] py-1 px-2 bg-gray-200 text-black text-xs rounded opacity-0 transition-opacity duration-1000 ease-in-out group-hover:opacity-100 text-ellipsis overflow-hidden">
      alt + s
    </span>
  <% end %>
</div>

