<section class="md:w-[700px] lg:w-[900px] xl:w-[1100px] mx-auto mt-10 h-screen">
  <h2 class="pb-6 text-2xl font-bold text-center text-white">邀請列表</h2>
  <div class=" w-auto sm:w-[500px] mx-auto overflow-y-scroll max-h-96">
    <table class="table w-full">
      <thead>
        <tr>
          <td class="text-lg bg-gray-300 rounded-none">專案名稱</td>
          <td class="text-lg bg-gray-300 rounded-none w-[70px] sm:w-[100px]">確認</td>
          <td class="text-lg bg-gray-300 rounded-none w-[70px] sm:w-[100px]">取消</td>
        </tr>
      </thead>
      <tbody>
        <% if @inventations %>
          <% @inventations.each do |inventation| %>
            <tr>
              <td>
                <div class="flex items-center space-x-3">
                  <div>
                    <div class="font-bold"><%= inventation.name %></div>
                  </div>
                </div>
              </td>
              <td>
                <%= button_to invitation_path(inventation.id), method: :patch, data: { turbo: false } do %>
                  <i class="p-2 rounded-full fa-solid fa-check hover:bg-gray-200 hover:Azure-blue-9"></i>
                <% end %>
              </td>
              <td>
                <%= button_to invitation_path(inventation.id), method: :delete, data: { turbo: false } do %>
                  <i class="p-2 rounded-full fa-solid fa-xmark hover:bg-gray-200"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>