<% if page.current? %>
  <span class="text-blue-600 underline underline-offset-4"><%= page %></span>
<% else %>
  <%= link_to page, url, remote: remote, rel: page.rel, class: "text-gray-800 font-light" %>
<% end %>