<div class="shadow-3xl card card-side bg-base-100 ">
  <figure>
    <%= link_to board_path(board.id) do %>
      <img src="https://picsum.photos/500/400?random=4" class="w-full" >
    <% end %>
  </figure>
  <div class="card-body">
    <div class="">
      <h2 class="text-2xl font-bold"><%= link_to board.name, board_path(board.id) %></h2>
      <time >建立時間：<%= format_timestamps(board.created_at, :date) %></time> 
      <time >截止時間：</time>
    </div>
  </section>
  <footer>
      <div class="pb-3 mt-3"><%= link_to '刪除', board_path(board.id), method: 'delete', data: { confirm: '確定要刪除嗎?' }, class: 'btn-danger mx-5' %></div>
    </footer>
</div>

    
