<section class="h-screen p-10 overflow-y-scroll">
  <span class="block pb-8 text-4xl font-bold text-center text-white ">
    <% if current_user.username.present? %>
      <%= current_user.username%>
    <% else %>
      <%= format_email(current_user.email) %>
    <% end %>
    的專案列表
  </span>
  <div class="flex flex-col gap-5 lg:flex-row">
    <%= render @boards %>
  </div>
  <div class="text-center">
    <%= paginate @boards %>
  </div>
</section>



