<span class="ml-5 text-xl font-bold">專案列表</span>
<section class="grid grid-cols-3 gap-3 ">
  <%= render @boards %>
</section>

<div class="flex justify-center text-xl ">
  <%= paginate @boards %>
</div>


