<div class="flex flex-col">
  <div>專案列表</div>

  <%# <div>
    <%= render partial: "board", collection: @boards %>
  <%# </div> %>
  
  <%# <div>
    <%= form_with(model: @board, url: boards_path) do |f| %>
      <%# <%= f.submit '新增'%>
    <%# <% end %>
  <%# </div> %> 
</div>