<div class="container flex w-full">
  <%= render partial: "containers/container", collection: @containers %>
  <button class="mt-5 mb-5 sidebar-icon"><%= link_to '+', new_board_container_path(@board.id), class: 'w-full h-full pt-2 bg-slate-200 rounded-full hover:bg-gray-400' %></button>
</div>

