<div class="container flex w-full">
  <%= render partial: "containers/container", collection: @containers, locals: { board: @board } %>
  <%= link_to new_board_container_path(@board.id), class: 'newcontainer' do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
</div>

