<div class="flex-col p-2 border-2 border-red-500 w-96">
  <div>
    <h2>Todo List</h2>
  </div>
  <%= render partial: "card", collection: @cards %>
  <%= link_to '新增項目', new_card_path, class: 'btn-primary' %>
</div>
