<div class="flex-col p-2 text-center border-2 border-red-500 w-96" >
  <div>
    <h2 class="mb-3 text-2xl">Todo List</h2>
    <%= link_to '新增項目', new_card_path, class: 'btn-primary' %>
  </div>
  <div data-controller="sortable" >
    <section id="card-list">
      <%= render partial: "card", collection: @cards %>
    </section>
  </div>
</div>
