<div class="flex-col p-2 border-2 border-red-500 w-96" data-controller="sortable">
  <div>
    <h2>Todo List</h2>
  </div>
  <div data-controller="sortable">
    <%= render partial: "card", collection: @cards %>
  </div>

  <%= link_to '新增項目', new_card_path, class: 'btn-primary' %>
</div>
