<div class="flex p-3 m-2 border-2 border-blue-500 w-max">
  <div class="flex-col w-10/12">
    <div class="m-2">標題：<%= @card.title %></div>
    <div class="m-2">簡介：<%= @card.intro %></div>
    <div class="m-2">難易度：<%= @card.level %></div>
    <div class="mt-4">
      評論區
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, commodi.</p>
    </div>
  </div>

  <div class="w-2/12 -mr-4">
    <div class="text-right"><%= link_to 'X', cards_path, class: 'btn-danger' %></div>
    <div class="text-center">
      <div>成員</div>
      <div>標籤</div>
      <div>日期</div>
      <div>附件</div>
    </div>
  </div>
</div>
