@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply px-5  bg-Azure-blue-2  text-white rounded-lg 
  }
  .btn-danger {
    @apply px-3 py-1 rounded bg-rose-600 text-rose-50 hover:bg-rose-700
  }
  .btn-logn{
    @apply px-10 py-3 bg-Azure-blue-2  text-white rounded-lg border-b-4 border-b-gray-900 hover:border-b-0 transition-all ease-in-out duration-100
  }
  .btn-chat{
    @apply px-10 py-5  bg-Azure-blue  text-white rounded-r-lg border-b-gray-900
  }
  .logo{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gray-300 to-Azure-blue
  }
  .homepage-bg{
    @apply bg-gradient-to-t from-white to-Azure-blue
  }
  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 text-2xl w-12 my-2 mx-auto shadow-lg bg-gray-500 rounded-3xl focus:rounded-xl transition-all duration-300 ease-linear
  }
  .logn-modal{
    @apply w-1/2 absolute flex flex-col items-center justify-center py-10 bg-white-1  top-60 rounded-md shadow-2xl
  }
  .box-input{
    @apply rounded-xl  text-black w-48
  }
  .insidebar{
    @apply px-5 py-2 text-white items-center hover:bg-Azure-blue-3 rounded-xl inline-block
  }
  .author{
    @apply  inline-block px-5 py-2 text-white rounded-lg shadow-xl bg-Azure-blue-2
  }
  .me{
    @apply text-right
  }
  .chat-box{
    @apply absolute bottom-0 left-0 w-full px-5 py-2 bg-white shadow-4xl
  }
  .underscore::before{
    content:"";
    width: 50%;
    position: absolute;
    top:8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .touch-icon{
    @apply hover:bg-Azure-blue-3 hover:rounded-xl
  }
  .linkto-icon{
    @apply bg-Azure-blue-3 rounded-xl
  } 
  .newcontainer{
    @apply flex items-center justify-center shadow-3xl w-10 h-10 bg-white fixed right-10 bottom-10 p-5 rounded-2xl transition-all duration-1000 transform hover:w-44
  }
  .newcontainer:hover::after {
    content: "新增狀態";
    font-size: 15px;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .field_with_errors input {
    border: 2px red solid
  }
}






