@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply px-5  bg-Azure-blue-2  text-white rounded-lg 
  }
  .btn-danger {
    @apply px-3 py-1 rounded bg-rose-600 text-rose-50 hover:bg-rose-700
  }
  .btn-logn{
    @apply px-10 py-3 bg-Azure-blue-2  text-white rounded-lg border-b-4 border-b-gray-900 hover:border-b-0 transition-all ease-in-out duration-100
  }
  .btn-chat{
    @apply px-10 py-5  bg-Azure-blue  text-white rounded-r-lg border-b-gray-900
  }
  .logo{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gray-300 to-Azure-blue
  }
  .homepage-bg{
    @apply bg-gradient-to-t from-white to-Azure-blue
  }
  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 text-2xl w-12 my-2 mx-auto shadow-lg bg-gray-500 rounded-3xl focus:rounded-xl transition-all duration-300 ease-linear
  }
  .logn-modal{
    @apply w-1/2 absolute flex flex-col items-center justify-center py-10 bg-white-1  top-60 rounded-md shadow-2xl
  }
  .box-input{
    @apply rounded-xl  text-black w-48
  }
  .insidebar{
    @apply px-5 py-2 text-white items-center hover:bg-Azure-blue-3 rounded-xl inline-block
  }
  .author{
    @apply  inline-block px-5 py-2 text-white rounded-lg shadow-xl bg-Azure-blue-2
  }
  .me{
    @apply text-right
  }
  .chat-box{
    @apply absolute bottom-0 px-5 py-2 bg-white left-20 shadow-4xl;
    width: calc(100vw - 306px);
    left: 307px
  }
  .underscore::before{
    content:"";
    width: 50%;
    position: absolute;
    top:8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .touch-icon{
    @apply hover:bg-Azure-blue-3 hover:rounded-xl
  }
  .linkto-icon{
    @apply bg-Azure-blue-3 rounded-xl
  } 
  .newcontainer{
    @apply flex items-center justify-center shadow-3xl w-10 h-10 bg-white fixed right-10 bottom-10 p-5 rounded-2xl transition-all duration-1000 transform hover:w-44
  }
  .newcontainer:hover::after {
    content: "新增狀態";
    font-size: 15px;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .field_with_errors input {
    border: 2px red solid
  }

  .circular-menu {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  
  .circular-menu .floating-btn {
    display: block;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color:#2C3E50;
    box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 3.9;
    cursor: pointer;
    outline: 0;
  }
  
  .circular-menu.active .floating-btn {
    box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
  }
  
  .circular-menu .floating-btn:active {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
  }
  
  .circular-menu .floating-btn i {
    font-size: 1.3em;
    transition: transform .2s;  
  }
  
  .circular-menu.active .floating-btn i {
    transform: rotate(-45deg);
  }
  
  .circular-menu:after {
    display: block;
    content: ' ';
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    transition: all .3s ease;
  }
  
  .circular-menu.active:after {
    transform: scale3d(5.5, 5.5, 1);
    transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
  }
  
  .circular-menu .items-wrapper {
    padding: 0;
    margin: 0;
  }
  
  .circular-menu .menu-item {
    position: absolute;
    top: .2em;
    right: .2em;
    z-index: -1;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3;
    background-color: #2C3E50;
    transition: transform .3s ease, background .2s ease;
  }
  
  .circular-menu .menu-item:hover {
    background-color: hsla(0,0%,0%,.3);
  }
  
  .circular-menu.active .menu-item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .circular-menu.active .menu-item:nth-child(1) {
    transform: translate3d(1em,-7em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(2) {
    transform: translate3d(-3.5em,-6.3em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(3) {
    transform: translate3d(-6.5em,-3.2em,0);
  }
  
  .circular-menu.active .menu-item:nth-child(4) {
    transform: translate3d(-7em,1em,0);
  }

  .fa-comments:hover::after{
    content: '聊天室';
    font-size: 10px;
    width: 70px;
    position: absolute;
    background-color: #CCCCCC;
    border-radius: 10px;
    top: -80%;
    right: 0;
  }
  .fa-calendar-days:hover::after{
    content: '日曆';
    font-size: 10px;
    width: 70px;
    position: absolute;
    background-color: #CCCCCC;
    border-radius: 10px;
    top: -80%;
    right: 0;
  }
  .fa-chart-simple:hover::after{
    content: '主控台';
    font-size: 10px;
    width: 70px;
    position: absolute;
    background-color: #CCCCCC;
    border-radius: 10px;
    top: -80%;
    right: 0;
  }
  .fa-clipboard:hover::after{
    content: '新增狀態';
    font-size: 10px;
    width: 70px;
    position: absolute;
    padding: 12px 7px;
    background-color: #CCCCCC;
    border-radius: 10px;
    top: -80%;
    right: 0;
  }
  .custom-highlight {
    animation: none !important; /* 取消动画效果 */
    transition: none !important; /* 取消过渡效果 */
    border: 1px solid #fff
  } 
  .usertheach{
    width: 700px;
  }
  .usertheach p{
    line-height: 30px;
  }
  .usertheach code{
    border: 1px solid #eee;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: #CCCCCC;
  }
}






