<section class="md:w-[700px] lg:w-[900px] xl:w-[1100px] h-screen mx-auto">
  <section class="flex flex-col items-center justify-center gap-8 mt-10 md:flex-row-reverse lg:justify-end lg:gap-0">
    <div>
      <%= turbo_frame_tag :member_search do %>
        <%= render "search", q: @q %>
      <% end %>
    </div>
    <div class="w-full mt-4">
      <h2 class="pb-6 text-2xl font-bold text-center">專案成員</h2>
      <table class="table w-1/2 mx-auto shadow-3xl">
        <!-- head -->
        <thead>
          <tr>
            <th class="text-lg bg-gray-300 rounded-none">Email</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <% if @users %>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="w-12 mask mask-squircle">
                        <div class="flex items-center justify-center w-full h-full text-center text-white rounded-md bg-Azure-blue-3"><%= user.username&.first || user.email.first %></div>
                      </div>
                    </div>
                    <div class="font-bold">
                      <%= user.email %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</section>