<section class="w-full">
  <section class="flex flex-col items-center">
    <div>
      <%= turbo_frame_tag :member_search do %>
        <%= render "search", q: @q %>
      <% end %>
    </div>
    <div class="w-full mt-4 ml-20">
      <h2>成員列表</h2>
      <table class="table w-full">
        <!-- head -->
        <thead>
          <tr>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <% if @users %>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="w-12 h-12 mask mask-squircle">
                        <img src="https://picsum.photos/300/200/?random=10">
                      </div>
                    </div>
                    <div>
                      <div class="font-bold"><%= user.email %></div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</section>